body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
}

#sidebar {
    width: 250px;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

#main-content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    overflow-y: auto;
}

#sidebar ul {
    list-style: none;
    padding: 0;
}

#sidebar ul li {
    margin: 10px 0;
}

#sidebar ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

#sidebar ul li a:hover {
    background-color: #ddd;
}

.evaluationContent {
    margin: 30px auto;
    text-align: center;
}

.evaluationContent button {
    margin: 0 10px;
}

.criteriaRow {
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.criteriaRow input[type="text"] {
    padding: 5px;
}

.criteriaRow label{
    margin: 0 15px;
}

.messageInformationsContent{
    margin: 15px;
    font-style: italic;
    opacity: 0.6;
}

.videoContent {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}