DISCORD_SERVER_ID=123456
CHANNELS_LISTENED=123456,7890123
FORMULAIRE_CRITERES=Hauteur du siège,main gauche, anticipation MD

DISCORD_BOT_TOKEN=
PORT=3000
DISCORD_BOT_NAME=JBot
REDIS_URL=127.0.0.1
REDIS_PORT=6379
